<h1>CD organizer</h1>

<form action="/cds" method="post">
  <label for="title">Add a new CD title</label>
  <input id="title" name="title" type="text">
  <button type="submit">Submit</button>
</form>
